{% extends 'instagram/layout.html' %}
{% load bootstrap4 %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
{#        {{ formset.non_form_errors.as_ul }}#}

        <div class="card mb-3">


            <div class="card-header">
                <h2 class="pb-3">이미지 업로드</h2>
            </div>

            <div class="card-body">
                <table>
                    {% csrf_token %}
                    {% for form in formset %}
                        {{ form.as_p }}
                        <hr>
                    {% endfor %}
                </table>

            </div>
            {{ formset.management_form }}
            {% for hidden in formset.hidden_fields %}
                {{ hidden }}
            {% endfor %}

        </div>


        <div class="card">
            <div class="card-header mt-2">
                <h2>
                    A/S 목록
                </h2>
                <h5 class="text-muted">
                    (A/S 받을 리스트에 체크)
                </h5>
            </div>

            <div class="card-body">
                <table>
                    {{ post_form }}
                </table>
{#                <div class="mb-2">#}
{#                    A/S 리스트1 :#}
{#                    <input type="checkbox" name="as_1" class="form-check-input" id="id_as_1">#}
{#                </div>#}
{#                <div class="mb-2">#}
{#                    A/S 리스트2 :#}
{#                    <input type="checkbox" name="as_2" class="form-check-input" id="id_as_2">#}
{#                </div>#}
{#                <div class="mb-2">#}
{#                    A/S 리스트3 :#}
{#                    <input type="checkbox" name="as_3" class="form-check-input" id="id_as_3">#}
{#                </div>#}
            </div>
        </div>

        <div class="mt-3">
            <input type="submit" value="저장" class="btn btn-primary"/>
        </div>

    </form>
    <hr/>

    {% if post %}
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">
            내용으로
        </a>
    {% endif %}

    <a href="{% url 'instagram:post_list' %}" class="btn btn-primary">
        목록
    </a>

{% endblock %}


